@model dynamic

@{
    ViewData["Title"] = "Proje ve Sorumlu Çalışanlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a asp-controller="Report"
   asp-action="Index"
   class="btn btn-primary mb-3">
    ← Raporlara Dön
</a>

<h2>Proje ve Sorumlu Çalışanlar</h2>

<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>Proje Adı</th>
            <th>Sorumlu Çalışan</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProjectName</td>
                <td>@item.Employee</td>
            </tr>
        }

    </tbody>

</table>