@model dynamic

@{
    ViewData["Title"] = "Görev ve Atanan Çalışanlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a asp-controller="Report"
   asp-action="Index"
   class="btn btn-primary mb-3">
    ← Raporlara Dön
</a>

<h2>Görev ve Atanan Çalışanlar</h2>

<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>Görev Adı</th>
            <th>Atanan Çalışan</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TaskName</td>
                <td>@item.Employee</td>
            </tr>
        }

    </tbody>

</table>