@model taskManagementCrud.Models.Department
@{
    ViewData["Title"] = "Delete";
}
<h1>Sil</h1>
<h3>Silmek istediğine emin misin?</h3>
<div>
    <h4>projectcodefirst.Models.Turler</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentpersonelCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartmentpersonelCount)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="DepartmentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>